.root{
    /*-fx-background-color: linear-gradient(to right, #97e5ff, #8cd3ec)*/
    -fx-background-image: url("../../Resources/images/bg_blur2.jpg");

}
#search_pane{
    -fx-background-color: #efefef;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian,black,10,0,0,10);
}
#main_logo_pane{
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian,black,10,0,0,10);
}
.white{
    -fx-background-color: #e7e7e7;
}
.mirror{
    -fx-background-color: rgba(231, 231, 231, 0.51);
}

.dropshadow{
    -fx-effect: dropshadow(gaussian,black,10,0.3,0,5);
}
.round{
    -fx-background-radius: 10px;
}
.hoverEffect:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
    -fx-opacity: 1;
    -fx-rotate: 2;
}
.hoverEffect:pressed{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-rotate: 0;
}
#download_progress{
    -fx-progress-color: #2ab1ff;
    -fx-background-color: rgba(231, 231, 231, 0.5);
}
.button{
    -fx-background-color: rgba(231, 231, 231, 0.5);
    -fx-text-fill: black;
}
.red-shadow{
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.72),10,0.3,0,5);
}
.red-text{
    -fx-text-fill: red;
}
#download_status_text{
    -fx-background-color: rgba(231, 231, 231, 0.5);
}
#description_box{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10;
}
.home_progress{
    -fx-accent: orange;
}
.progress_pane{
    -fx-opacity: 0;
}